@model BroadcastMvcApp.ViewModels.IndexAdminViewModel

@{
    ViewBag.Title = "Admin Page";
}

<link href="~/css/IndexAdminStyle.css" rel="stylesheet" />

<div class="index-body">

    <h1>Welcome administrator</h1>

    <div class="data-container">
        @foreach (var i in @Model.accounts)
        {
            <div class="data-card">
                <image class="image-container" alt="profile" src="@i.ProfilePhotoURL" />
                <h3>@i.Username</h3>
                <span>@i.departments @i.semesters</span>
                <span>@i.roles</span>
                <span>@i.Email</span>

                <div class="btn-container">
                    <a class="add-btn" asp-action="AddToChannnel" asp-route-id="@i.AccountId">+</a>
                    <a class="remove-btn" asp-action="RemoveFromChannnel" asp-route-id="@i.AccountId">-</a>
                </div>
            </div>
        }
    </div>
</div>