@model CreateViewModel
@using BroadcastMvcApp.Enum
@using BroadcastMvcApp.ViewModels.Account

@{
    ViewBag.Title = "Create";
}

<link href="~/css/CreateAccountStyle.css" rel="stylesheet" />

<div class="create-body">

    <h1>Create new account</h1>

    <form class="form-container"
          asp-action="Create"
          method="post"
          asp-controller="Account"
          enctype="multipart/form-data">

        <div class="form-group">
            <label asp-for="@Model.FirstName">Username</label>

            <input asp-for="@Model.FirstName" />
            <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.Email">Email</label>

            <input asp-for="@Model.Email" />
            <span asp-validation-for="@Model.Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.Password">Password</label>

            <input asp-for="@Model.Password" />
            <span asp-validation-for="@Model.Password" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.ConfirmPassword">Confirm Password</label>

            <input asp-for="@Model.ConfirmPassword" />
            <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.Profile">Profile </label>

            <input type="file" asp-for="@Model.Profile" />
            <span asp-validation-for="@Model.Profile" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.Role">Role</label>

            <select id="selectRole"
                    asp-items="@(new SelectList(Enum.GetValues(typeof(Roles))))"
                    asp-for="@Model.Role">
                <option>select role</option>
            </select>
            <span asp-validation-for="@Model.Role" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Authorization Key</label>

            <input asp-for="@Model.Authorization" />
            <span asp-validation-for="@Model.Authorization"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.Department">Department</label>
            <select asp-items="@Html.GetEnumSelectList<Departments>()"
                    asp-for="@Model.Department">
                <option>select department</option>
            </select>
            <span asp-validation-for="@Model.Department" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.Semester">Semester</label>
            <select asp-items="@Html.GetEnumSelectList<Semesters>()"
                    asp-for="@Model.Semester">
                <option>select semester</option>
            </select>
            <span asp-validation-for="@Model.Semester" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" class="submit-btn" value="create" />
        </div>

    </form>
</div>

<script src="~/js/Account/Create.js"></script>