@model BroadcastMvcApp.ViewModels.CreateAccountViewModel
@using BroadcastMvcApp.Enum

@{
    ViewBag.Title = "Create";
}

<link href="~/css/CreateAccountStyle.css" rel="stylesheet" />

<div class="create-body">
    <h1>Create new account</h1>

    <form class="form-container" asp-action="Create" method="post" asp-controller="Account"
        enctype="multipart/form-data">
        <table>
            <tr>
                <div class="form-group">
                    <td>
                        <label asp-for="@Model.Username">Username</label>
                    </td>

                    <td>
                        <input asp-for="@Model.Username" />
                        <span asp-validation-for="@Model.Username" class="text-danger"></span>
                    </td>
                </div>
            </tr>

            <tr>
                <div>
                    <td>
                        <label asp-for="@Model.Email">Email</label>

                    </td>

                    <td>
                        <input asp-for="@Model.Email" />
                        <span asp-validation-for="@Model.Email" class="text-danger"></span>

                    </td>
                </div>
            </tr>

            <tr>
                <td>
                    <label asp-for="@Model.Password">Password</label>
                </td>

                <td>
                    <input asp-for="@Model.Password" />
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </td>
            </tr>

            <tr>
                <td>
                    <label asp-for="@Model.ConfirmPassword">Confirm Password</label>
                </td>

                <td>
                    <input asp-for="@Model.ConfirmPassword" />
                    <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                </td>
            </tr>

            <tr>
                <td>
                    <label asp-for="@Model.ProfilePhoto">Profile Photo</label>
                </td>

                <td>
                    <input type="file" asp-for="@Model.ProfilePhoto" />
                    <span asp-validation-for="@Model.ProfilePhoto" class="text-danger"></span>
                </td>
            </tr>

            <tr>
                <td>
                    <label asp-for="@Model.roles">Role</label>
                </td>

                <td>
                    <select id="selectRole" asp-items="@(new SelectList(Enum.GetValues(typeof(Roles))))"
                        asp-for="@Model.roles">
                        <option>select role</option>
                    </select>
                    <span asp-validation-for="@Model.roles" class="text-danger"></span>
                </td>
            </tr>

            <tr class="hide-authorization" id="authorization-id">
                <td>
                    <label>Authorization Key</label>
                </td>

                <td>
                    <input asp-for="@Model.Authorization" />
                </td>
            </tr>

            <tr class="hide-department" id="department-id">
                <td>
                    <label asp-for="@Model.departments">Department</label>
                </td>

                <td>
                    <select asp-items="@Html.GetEnumSelectList<Departments>()" asp-for="@Model.departments">
                        <option>select department</option>
                    </select>
                    <span asp-validation-for="@Model.departments" class="text-danger"></span>
                </td>
            </tr>

            <tr class="hide-semester" id="semester-id">
                <td>
                    <label asp-for="@Model.semesters">Semester</label>
                </td>

                <td>
                    <select asp-items="@Html.GetEnumSelectList<Semesters>()" asp-for="@Model.semesters">
                        <option>select semester</option>
                    </select>
                    <span asp-validation-for="@Model.semesters" class="text-danger"></span>
                </td>
            </tr>

            <tr>
                <div class="form-group">
                    <td>
                        <input type="submit" class="submit-btn" value="create" />
                    </td>

                    <td>
                        <input type="reset" class="reset-btn" value="clear" />
                    </td>
                </div>
            </tr>
        </table>
        <span asp-validation-for="@Model.Authorization"></span>
    </form>
</div>

<script src="~/js/Account/Create.js"></script>